.navbar {
  padding-top: 3rem;

  &-brand {
  }

  &__img {
  }

  .nav-link {
    color: black;
    font-size: 1.45rem;
    margin-right: 1rem;
    font-weight: 500;

    &:hover {
      color: rgba(black, 0.4);
    }
  }
  &__button {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__menu {
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 767px) {
    &-nav {
      align-items: center;
      box-shadow: 0 2px 10px rgba(black, 0.15);
      padding: 3rem 0;
      border-radius: 5px;
    }
  }
}
