* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam", sans-serif;
  overflow-x: hidden;
  background-image: url("../images/bg-tablet-pattern.svg");

  background-repeat: no-repeat;
  // background-position: 140% -20%;
}

button,
input {
  &:focus {
    outline: none;
  }
}
